#Task 5
SIRSS1027

Aanchal Saxena

In [30]:
for i in range(5,0,-1):
  for j in range(0,i):
    print("5", end=' ')
  print(' ')

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [ ]:
for i in range(5,0,-1):
  for j in range(0,i+1):
    print(j, end=' ')
  print(' ')

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [ ]:
for i in range(1,6):
    for j in range(1,i+1):
        print((i * 2 - 1), end=' ')
    print('')

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [ ]:
for i in range(1,7):
  for j in range(i,1,-1):
    print(j-1, end=' ')
  print('')

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
k=1
for i in range(1,5):
  if i % 2 == 0:
    for j in range(1,i+1):
      print(k,end=' ')
      k-=1
    print(' ')
    k+=i+1
  else:
    for j in range(1,i+1):
      print(k,end=' ')
      k+=1
    print(' ')
    k+=i

1
3 2
4 5 6
10 9 8 7

In [ ]:
for i in range(1,8):
  k = 1
  for j in range(1,i+1):
    print(k, end=' ')
    k = int(k*(i-j)/j)
  print('')

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if i == 5 or j == 5:
      print('5', end=' ')
    elif i == 4 or j == 4:
      print('4', end=' ')
    elif i == 3 or j == 3:
      print('3', end=' ')
    elif i == 2 or j == 2:
      print('2', end=' ')
    elif i == 1 or j == 1:
      print('1', end=' ')
    else:
      print(' ', end=' ')
    
    
  print(' ')

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [ ]:
lst = [1,2,3,4,5,6,7,8]
for i in range(0,9):
  for j in range(0,i):
    if j == 0:
      print((j+1)*lst[0], end=' ')
      lst[0]+=1
    elif j == 1:
      print((j+1)*lst[1], end=' ')
      lst[1]+=1
    elif j == 2:
      print((j+1)*lst[2], end=' ')
      lst[2]+=1
    elif j == 3:
      print((j+1)*lst[3], end=' ')
      lst[3]+=1
    elif j == 4:
      print((j+1)*lst[4], end=' ')
      lst[4]+=1
    elif j == 5:
      print((j+1)*lst[5], end=' ')
      lst[5]+=1
    elif j == 6:
      print((j+1)*lst[6], end=' ')
      lst[6]+=1
    elif j == 7:
      print((j+1)*lst[7], end=' ')
      lst[7]+=1
    elif j == 8:
      print((j+1)*lst[8], end=' ')
      lst[8]+=1
  print('')

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

In [ ]:
rows = int(input("Enter the number of rows: "))  
    
k = 2 * rows - 2  
for i in range(rows, -1, -1):   
    for j in range(k, 0, -1):  
        print(end=" ")  
    k = k + 1   
    for j in range(0, i + 1):  
        print("*", end=" ")  
    print("")

Enter the number of rows: 6
          * * * * * * *
           * * * * * *
            * * * * *
             * * * *
              * * *
               * *
                *

In [ ]:
n = int(input("Enter the number of rows: "))  
m = (2 * n) - 2  
for i in range(0, n):  
    for j in range(0, m):  
        print(end=" ")  
    m = m - 1 
    for j in range(0, i + 1): 
        print("* ", end=' ')  
    print(" ")

Enter the number of rows: 7
            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

In [ ]:
rows = int(input("Enter the number of rows: "))  
  
for i in range(0, rows):  
 
    for j in range(0, i + 1):  
        print("*", end=' ')    
    print(" ")  
# Second pattern  
print('')
for i in range(rows + 1, 0, -1):  
    for j in range(0, i - 1):  
        print("*", end=' ')  
    print(" ")

Enter the number of rows: 6
*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
rows = int(input("Enter the number of rows: "))  
  
for i in range(0, rows):  
     
    for j in range(0, i + 1):  
        print("*", end=' ')  
      
    print(" ")  

#Second pattern  

for i in range(rows , 0, -1):  
    for j in range(0, i - 1):  
        print("*", end=' ')  
    print(" ")

Enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
rows = int(input("Enter the number of rows: "))  
for i in range(1,rows+1):
  for j in range(i,rows):
    print(' ', end=' ')
  for k in range(1,i+1):
    print('*', end=' ')
  print(' ')

for i in range(rows,0,-1):
  for j in range(i,rows+1):
    print(' ',end=' ')
  for k in range(1,i):
    print('*', end=' ')
  print(' ')

Enter the number of rows: 5
        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
rows = int(input("Enter the number of rows: "))  
k = rows - 2  
# Downward pyramid  
for i in range(rows, -1 , -1):  
    for j in range(k , 0 , -1):  
        print(end=" ")  
    k = k + 1  
    for j in range(0, i+1):  
        print("* " , end="")  
    print(' ')  
  
# Upward pyramid  
k = 2 * rows  - 2  
for i in range(0 , rows+1):  
    for j in range(0 , k):  
        print(end=" ")  
    k = k - 1  
    for j in range(0, i + 1):  
        print("* ", end="")  
    print(' ')

Enter the number of rows: 5
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *
        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *

In [29]:
row=int(input())

for i in range(0,2*row):
    for j in range(0,2*row):
      if i == 0:
        print("*", end="")

print()
x=1

for r in range(row-1,0,-1):
    for c in range(1,r+1):
        print("*",end="")
    # space between triangles    
    for s in range(0,x*2):
        print("_",end="")
    for c in range(c,0,-1):
        print("*",end="")
    x=x+1
    print()

8
****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*